.about {
    @include container(3rem);
    @include grid(space-around, center);
    grid-template-columns: repeat(2, 22rem);
    justify-items: center;
    gap: 2rem;
    position: relative;

    @media screen and (max-width: 786px) {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .about__containers {
        height: 100%;
        text-align: center;
        width: 100%;        

        .about__icon {
            width: 3rem;
            height: 3rem;
        }
    }
}