.logo {
	@include background(url('../../src/assets/canyon.jpg'));
	height: 50vh;
    width: 100%;
    filter: grayscale(50%);
    @include flex(center, center);
}

$animationSpeed: 15s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-16rem * 6))}
}


// Styling
.slider {
	height: 16rem;
	overflow:hidden;
	position: relative;
	width: 100vw;
	background-color: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(10px);
	background-clip: padding-box;
	border: solid .5rem transparent;
	
	.slide-track {		
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(16rem * 13);
	}
	
	.slide {
		height: 16rem;
        width: 16rem;
        filter: invert(.9);
		@include flex(center, center);
	}
}