@import 'config';
@import 'utils';


.header {

    @include background(url('../../src/assets/mountain.jpg'));
    filter: grayscale(50%);
    width: 100%;
    height: 100vh;

    .header__container {
        @include container(0);
        @include flex(space-between, center);
        height: 10vh;

        .header__logo {
            @include flex(flex-start, center);
            
            .header__container--image {
                width: 20%;
            }
        }

        .nav__links {
            @include flex(flex-end, center);

            .nav__link {
                padding: 0 1rem;

                & a:hover {
                    color: $bg-color;
                }
            }
        }

        .nav__icons {
            width: 1rem;
            height: 1rem;
            fill: $light-text;

            &-bag {
                margin-left: 1rem;
            }

            &-glass {
                margin-left: .7rem;
            }

            &:hover {
                fill: $bg-color;
            }
        }
    }

    .hero__container {
        @include container(0);
        @include color-font($white: false);
        @include flex(center, center);
        flex-direction: column;
        height: 90vh;
        text-align: center;
        text-shadow: 1px 1px 2px $dark-text;

        .hero__text {
            padding: .5rem;
            max-width: 40rem;
        }

        .hero__button {
            @extend .btn;
        }
    }
}

.about {
    @include container(5rem);
    @include grid(space-around, center);
    grid-template-columns: repeat(2, 22rem);
    justify-items: center;
    gap: 2rem;

    .about__containers {
        height: 100%;
        text-align: center;
        width: 100%;
        padding: 0 1rem;
        

        .about__icon {
            width: 3rem;
            height: 3rem;
        }
    }
}

.realization {
    width: 100%;
    background-color: $bg-color-brighter;

    .realization__container {
        width: 100%;
        text-align: center;
        position: relative;

        .realization__header {
            @extend .text__header;
        }

        .realization__images-middle {
            min-width: 45%;
            position: relative;
            z-index: 1;

            @media screen and (max-width: 786px) {
                width: 90vw;
            }

        }
        .realization__images-left {
            position: absolute;
            bottom: -5%;
            left: 5%;
            max-width: 50%;

            @media screen and (max-width: 786px) {
                @include visibility();
            }

        }
        .realization__images-right {
            @extend .realization__images-left;
            bottom: -15%;
            right: 5%;
            left: auto;

            @media screen and (max-width: 786px) {
                @include visibility();
            }

        }
    }

    .realization__accent {
        margin-top: -2rem;
        background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(71,43,15,1) 88%);
        position: relative;
        z-index: 3;
        @include flex(space-around, center);

        @media screen and (max-width: 786px) {
            flex-direction: column;
        }

        .realization__text {
            text-align: left;
            @include color-font($white: false);
            max-width: 100%;
            padding: 0 1rem;

            @media screen and (max-width: 786px) {
                text-align: center; 
            }
        }

        .realization__button {
            @extend .btn;
            margin: 0;

            @media screen and (max-width: 786px) {
                margin-bottom: 2rem;
            }
        }
        .realization__text h3 span {
            color: $bg-color;
        }
    }
}

.portfolio {
    @include container(0);
    text-align: center;
    

    .portfolio__header {
        @extend .text__header;
        text-align: center;
    }

    .portfolio__buttons {
        @include flex(space-around, center);
        width: 40%;
        margin: 0 auto;

        @media screen and (max-width: 786px) {
            width: 80%;
            flex-wrap: wrap;
        }

        .portfolio__button--select {
            @extend .btn;
            padding: .25rem 1.25rem;
            background-color: $light-text;
            border: 1px solid $bg-color;
            box-shadow: none;
            color: $bg-color;
            text-shadow: none;
            margin: 0 .5rem 2rem;

            @media screen and (max-width: 786px) {
                width: 10rem;
                text-align: center;
            }

            &:hover {
                box-shadow: 2px 2px 0 lighten($bg-color, 10%);
                @extend .dark-hover;
            }
        }
    }

    .portfolio__container {
        @include grid(center, space-between);
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        padding: 0 .5rem;

        @media screen and (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 786px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .portfolio__gallery {
            height: 100%;
            background-color: $bg-color-brighter;
            @include flex(center, flex-start);
            flex-direction: column;

            &:hover {
                @extend .dark-hover;
            }
            
            .portfolio__image {
                width: 100%;
                height: 70%;
                object-fit: cover;      
            }

            .portfolio__text {
                text-align: left;
                padding: 0 10%;
                height: 30%;
                width: 100%;
                position: relative;
                background-color: inherit;
                
                & > p {
                    margin: 0;
                }                

                &::before {
                    content: '';
                    width: 2rem;
                    height: 1.5rem;
                    clip-path: polygon(100% 100%, 0 100%, 50% 0);
                    position: absolute;
                    bottom: 99%;
                    display: block;
                    background-color: inherit;
                }                
            }
        }
    }

    .portfolio__button {
        @extend .btn;
        margin: 2rem 0;
    }
}

.video {
    @include container(0);
    width: 100%;
    // height: 100%;
    position: relative;

    &:hover .video__controls {
        transform: translateY(-50px);
        opacity: 1;

        @media screen and (max-width: 786px) {
            transform: translateY(-30px);
        }
    }

    .video__container {
        width: 100%;
        height: 100%;
        // object-fit: cover;
        filter: brightness(.7);
        outline: none;
        cursor: none;
    }

    .video__button {
        @include background(url('../../src/assets/play.png'));
        background-size: auto;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        background-color: rgba(0,0,0,0.3);
        position: absolute;
        transition: .1s;
        pointer-events: none;
        display: none;
        transform: translate(-50%, -50%);
        border: none;

        @media screen and (max-width: 786px) {
            background-size: 80%;
            width: 4rem;
            height: 4rem;
        }
    }

    .video__controls {
        background-color: rgba(0,0,0,0.5);
        width: 90%;
        height: 7px;
        border-radius: 3px;
        position: absolute;
        opacity: 0;
        left: 5%;
        transform: translateY(0);
        transition: all 1s ease-in-out;

        .video__progress {
            background-color: rgba(0,0,0,0.8);
            width: 0;
            height: 100%;
            border-radius: inherit;
        }
    }
}

.info {
    height: 100%;
    padding-top: 6rem;
    background-color: $bg-color-brighter;

    .info__container {
        @include container(0);
        @include flex(space-between, center);
        height: 100%;

        @media screen and (max-width: 786px) {
            width: 80%;
            flex-direction: column;
            flex-wrap: wrap;
        }
        
        .info__image {
            align-self: flex-end;

            @media screen and (max-width: 786px) {
                align-self: center;
                max-width: 80%;
            }
        }
    
        .info__text {
            flex: 2;
            padding: 0 .5rem;

            @media screen and (max-width: 786px) {
                order: -1;
            }
            
        }
    
        .info__details {
            // padding-left: 3rem;
    
            p {
                position: relative;
                padding-left: 2rem;
                @include paragraph-margin($sibling: true);
                &::before {
                    content: '';
                    @include background(url('../../src/assets/next.png'));
                    background-size: .8rem;
                    background-position: 65% 50%;
                    background-color: #adb8c2;
                    filter: invert(1);
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                    top: calc(2ex / 4);
                    display: block;
                    width: 1.2rem;
                    height: 1.2rem;
                }  
            }   
        }
    }

    .info__accent {
        width: 100%;
        background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(71,43,15,1) 88%);

        .info__accent-container {
            @include flex(space-around, center);
            @include container(0);
            padding: 0 1rem;

            @media screen and (max-width: 786px) {
                @include flex(space-around, center);
                flex-wrap: wrap;
            }

            .info__data {
                text-align: center;
                padding-top: 3rem;

                @media screen and (max-width: 786px) {
                    flex-basis: 15rem;
                }
                
                .info__icon {
                    width: 3rem;
                    height: 3rem;
                    fill: $bg-color-bright;

                }
        
                .info__number {
                    font-weight: 300;
                    color: white;
                }
        
                .info__number-text {
                    text-transform: uppercase;
                    letter-spacing: .3px;
                    color: $bg-color-bright;

                    &:after {
                        content: '';
                        width: 3rem;
                        height: 3px;
                        border-radius: 3px;
                        background-color: white;
                        display: block;
                        margin: 1.5rem auto 0;
                    }
                }
            }
        }
    }
}






@media screen and (max-width: 1000px) {
    .nav {
        display: none;
    }
}

@media screen and (max-width: 786px) {
    .about {
        grid-template-columns: repeat(1, 1fr);

        &__containers {
            padding: 0 10%;
        }
    }
}